<!DOCTYPE html>
<html lang="en">
<head>
    <title>CloudFlare API</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/assets/css/cloudflare.css" type="text/css" media="screen">
</head>
<body>

<main id="site">
    <h1>DNS Zones</h1>

    <section id="dns-zones">

    </section>
</main>

<div id="loader" aria-hidden="true">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/public/assets/js/cloudflare.js"></script>
</body>
</html>